<%- include('partials/header.ejs') %>
<body class = "change">
<br>
<a href = "/contactList" class="backSpace"> BACK </a> <br><br>
<h1> Updating Contact </h1>
<hr><br>

<form action = "/contact/edit" method = "POST" onSubmit="return validateContact()">

<div id = "imageF">

<div id = "imageF1">
<img src="<%=contact[0].picture%>" width = 150px> <br>
</div>

<div id = "imageF2">
<input type="hidden" name="contactId" value="<%=contact[0].contactId%>">

Name: <input type = "text" id = "cName" name = "name" value = "<%=contact[0].name%>" ><br>

Gender:
<input type="radio" id = "cGender" name="gender" value="M" 

     <% if (contact[0].gender == "M")  { %>
       checked
     <% } %>

 > Male
<input type="radio" name="gender" value="F" 

 <%=  (contact[0].gender == "F")?"checked":""  %>

> Female

<br>
Number: <input type = "text" id = "cNum" name = "number"  value = "<%=contact[0].number%>" ><br>

Age: <input id = "cAge" type = "number" min = "20" max = "100" name = "age" value = "<%=contact[0].age%>" ><br>

Picture Url: <input id = "cPic" type = "text" name = "picture" value = "<%=contact[0].picture%>" ><br>

Address: <input id = "cAdd" type = "text" name = "add" value = "<%=contact[0].address%>" ><br>

</div>
</div>
<br><br>
<button class = "update2"> Update Contact</button>
</form>

<div id = "mess2">
<% if(typeof message != "undefined") { %>
<%= message %>
<% } %>
</div>
<%- include('partials/footer.ejs') %>
<script src='/js/validation.js'></script>

</body>
</html>