<%- include('partials/header.ejs') %>
<body> 

<div id = "backgroundI2">
<br>

<a href = "/" class="backSpace"> BACK </a> <br><br>

<div id = "container">
<h1> Showing Results For Pets Available in the Following City: <br> <strong>  <%= petInfo[0].city %> </strong></h1>
<hr>

<% petInfo.forEach( function(pet){  %>

<img class = "imgs" id = "<%= pet.petsId %>" src = "" alt = "Image of pet" width = "390px" object-fit = "cover">

<div class="col d-flex justify-content-center">

<div class="card" style="width: 34rem;">
  <div class="card-body">
    <p class="card-text" >
    Name: <%= pet.name %> <br>
    Description: <%= pet.description %> <br>
    Price: <%= pet.price %> <br>
    City/State: <%= pet.city %>,
    <%= pet.state %>
    <br><br>
    <a href = "#"  class="clicker" id = "<%= pet.contactId %>" contactId =" <%=pet.contactId%>" >Contact Information</a>
    </p>   
  </div><!-- card-body-->
</div><!-- card class-->
</div><!-- justify content-->


<br>
  
<% }) %>
</div><!-- container-->

<div id="myModal" class="modal">
  <div class="modal-content">

    <span class="close" style="color:white";>&times;</span>
    <div id="contactInformation"></div> <br>

    <span id = "contactSend"></span>
    <div class="col d-flex justify-content-center">
    <button id="theButton" onclick="inputInfo()">Contact Now </button><br> </div>

    <div id ="userInfo"> </div> 
    <div class="col d-flex justify-content-center">
    <button onclick="submit()"  id = "submit"> Send </button></div>

  </div><!--modal content-->
</div><!-- myModal-->

<%- include('partials/footer.ejs') %>
</div><!-- background-->

<script src="/js/home.js"></script>

</body>
</html>